@{
    ViewData["Title"] = "SmartIr";
    List<SensorDataFields> data = (List<SensorDataFields>)ViewData["SensorDataFields"];
}

<h1>Home Page</h1>
<p>Below will be a table, of your information, for your extempuranious pleasure!</p>

<table class="defaultTable">
    <thead>Boutta be a table</thead>
    <tbody>
        <tr>
            <th>Id</th>
            <th>Unique Id</th>
            <th>Transmission Id</th>
            <th>Ip Address</th>
            <th>Date</th>
        </tr>
        @for(int i = 0; i < data.Count; i++)
        {
            <tr>
                <td>
                    @Html.Raw(data[i].Id.ToString())
                </td>
                <td>
                    @Html.Raw(data[i].UniqueId)
                </td>
                <td>
                    @Html.Raw(data[i].TransmissionId)
                </td>
                <td>
                    @Html.Raw(data[i].IpAddress)
                </td>
                <td>
                    @Html.Raw(data[i].date.ToString("MM/dd/yyyy hh:mm:ss"))
                </td>
            </tr>
        }
    </tbody>
</table>